<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.llm_inference">
    <application>
        <!-- Required to initialize the LlmInference -->
        <uses-native-library
            android:name="libOpenCL.so"
            android:required="false"/>
        <uses-native-library android:name="libOpenCL-car.so" android:required="false"/>
        <uses-native-library android:name="libOpenCL-pixel.so" android:required="false"/>
    </application>
</manifest>
